---
// Assets
import iconArrowBlue from '@assets/icons/icon-arrow-blue.svg';
---

<div class="w-full bg-[url(/src/assets/img/doctora-imagen-1.webp)] bg-nav-bg bg-contain bg-no-repeat bg-center">
  <div class="w-9/10 mx-auto py-6 flex items-center gap-4 justify-center overflow-hidden">
    <span class="text-white text-center">Conoce nuestras ofertas</span>
    <a href="#" class="px-4 py-2 flex items-center gap-1 bg-white rounded-3xl">
      <span class="text-nav-bg font-bold">aquí</span>
      <img src={iconArrowBlue.src} alt="arrow blue" class="w-4 h-4 transform rotate-135" />
    </a>
    </div>
  </div>
</div>