---
// Assets
import iconArrow from "../assets/icons/icon-arrow-dark.svg";

// Interface
interface Props {
  icon: { src: string };
  text: string;
}

const { icon, text } = Astro.props;
---

<article
  class="rounded-xl bg-white shadow-card flex items-center justify-center hover:bg-white-secondary hover:scale-103 w-full anim-fade-up overflow-hidden"
>
  <a href="#" class="flex flex-col items-center gap-2 p-5 w-full">
    <img
      src={icon.src}
      alt={`${text} icon`}
      class="w-24 h-24 aspect-square object-contain object-center"
    />
    <div class="flex items-center">
      <span class="text-base font-medium text-paragraph">{text}</span>
      <img
        src={iconArrow.src}
        alt="arrow icon"
        class="w-6 h-6 object-contain object-center"
      />
    </div>
  </a>
</article>
