---
// Assets
import imgLogoSplash from "@assets/img/logotipo-clinica-monteluz.webp";
---

<section class="fixed inset-0 w-full h-full flex bg-white z-20 transition-opacity duration-500" id="splash">
  <div class="w-9/10 mx-auto flex items-center justify-center">
    <figure class="min-w-45 w-full max-w-70 figure-splash animate-splash">
      <img
        src={imgLogoSplash.src}
        alt="Splash"
        class="w-full h-auto object-contain object-center"
      />
    </figure>
  </div>
</section>