---
// Interface
interface Props {
  href: string;
  text: string;
}

const { href, text } = Astro.props;
---

<li class="flex">
  <a
    href={href}
    target="_blank"
    rel="noopener noreferrer"
    class="text-white text-sm text-center"
  >
  {text}
  </a>
</li>